<!-- views/404.ejs -->
<%- include('partials/header') %>

<section id="404">
    <div class="container">
        <h2>404 - Page non trouvée</h2>
        <p>Désolé, la page que vous recherchez n'existe pas.</p>
        <a href="/" class="cta-button">Retour à l'accueil</a>
    </div>
</section>

<%- include('partials/footer') %>
